@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  background-color: #fff;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 12px;
  border: 2px solid #fff;
}

::-webkit-scrollbar-button {
  display: none;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

@layer base {
  :root {
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
  }
}
