.cesium-widget-credits {
  display: none !important;
}

.leafletlike-container {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 4px;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: start;
}
