.fuzzy-search-container {
  /* width: 570px; */
}

.fuzzy-search-container .ant-select-selector {
  border-radius: 0.25rem;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.clear-fuzzy-button {
  background-color: #e0e0e0;
  border-color: rgba(255, 255, 255, 0);
  border-radius: 0.25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-weight: 400;
  opacity: 0.75;
  border-left: 0px;
}

.clear-fuzzy-button__active {
  border: 1px solid #007bff;
  opacity: 1;
  color: black;
  background-image: linear-gradient(
    rgb(255, 255, 255) 0px,
    rgb(224, 224, 224) 100%
  );
}

.fuzzy-search-container .ant-btn-default:disabled {
  color: black;
  opacity: 0.6;
  background-image: linear-gradient(
    rgb(255, 255, 255) 0px,
    rgb(224, 224, 224) 100%
  );
  border: 1px solid #007bff;
}

.fuzzy-search-container .ant-select-selection-placeholder {
  color: #a6a6a6;
}

.ant-select-dropdown .rc-virtual-list-holder::-webkit-scrollbar {
  width: 1px;
  opacity: 0.6;
  height: 8px;
}

.ant-select-dropdown .rc-virtual-list-holder::-webkit-scrollbar-thumb {
  background-color: #8e8e8e;
  width: 1px;
  border-radius: 10px;
}

.ant-select-dropdown .rc-virtual-list-holder::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
  width: 1px;
}

.ant-select-dropdown .rc-virtual-list-holder > div:first-child {
  /* overflow-x: auto !important; */
}

.ant-select-dropdown .rc-virtual-list-holder-inner > div:last-child {
  padding-bottom: 13px;
}

.ant-select-item-option-content {
  overflow: visible !important;
}
