@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  background-color: #fff;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 12px;
  border: 2px solid #fff;
}

::-webkit-scrollbar-button {
  display: none;
}
